@model List<TaskManager.Web.Models.TaskModel>

<div style="-webkit-transform:rotate(57deg);">
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Done</th>
                <th>Undo</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string color = (@item.Status == 1 ? "lightgreen" : (@item.Status == 2 ? "silver" : "white"));
                
                    
                <tr data-val-taskid="@item.Id" style="background-color:@color">
                    <td>@item.Description</td>
                    <td>
                        <i class="icon-ok" onclick="doneTask(this,@item.Id)"></i>
                    </td>
                    <td>
                        <i class="icon-share-alt" style="-webkit-transform:rotate(180deg);" onclick="undoTask(this,@item.Id)"></i>
                    </td>
                    <td>
                        <i class="icon-trash" onclick="deleteTask(this,@item.Id)" style="-webkit-transform:rotate(57deg);"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
