@model  TaskManager.Web.Models.TaskWeatherModel 

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>Cidade</th>
            <th>Clima</th>
            <th>Descrição</th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>@Model.Weather.City</td>
            <td id="temperature">@Model.Weather.Temperature</td>
            <td>@Model.Weather.Description</td>
            <td><canvas id="canvas" width="40px" height ="40px"></canvas></td>
        </tr>
    </tbody>
</table>

<h4>Task:</h4>
<input type="text" id="txtDescription" value="" /><br />
<button class="btn" id="btnAdd">Add</button>

<div id="grdTask">
    @Html.Partial("GridTask", Model.Tasks)
</div>
