<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Database" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\v11.0;Integrated Security=true;Initial Catalog=teste_entity_framework.datatest"/>
  </connectionStrings>
</configuration>