@model List<AutoInsurance.Web.Models.ProposalListModel>

@{
    ViewBag.Title = "List";
    
}

@using (Html.BeginForm("Search", "Proposal"))
{
    <input type="text" name="searchTerm" /><br />
    <button class="btn">Search</button>
}

<h2>List</h2>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Value</th>
            <th>Car Model</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Value.ToString("c")</td>
                <td>@item.CarModel</td>
            </tr>
        }
    </tbody>
</table>
